@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
* {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background:rgb(182, 219, 220);
}

header {
    
    background-color: aquamarine;
    color: white;
    text-align: center;
    padding: 1em;
}
header:hover{
    color: rgba(238,174,202,1);
    background-color: rgba(0, 0, 0, .5);
}


main {
    max-width: 700px;
    margin-top: 100px;
    /* margin: 0 auto; */
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #f7eaea;
    word-spacing: 3px;
    line-height: 1.5;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    transition:transform .5s ease, height .2s ease;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    cursor: pointer;
    margin-left: 300px;
    z-index: -9999;
    
    
}
h2{
    text-align: center;
    display: flex;
    justify-content: center;
}
section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    content: '';
}

input,
textarea {
    width: 80%;
    padding: 6px;
    border-radius: 5px;
    border: 1.5px solid black;
    margin-bottom: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

button {
    padding: 10px;
    font-size: 16px;
    /* margin-left: 25px; */
    margin-top: 15px;
    cursor: pointer;
    background:#31EC56;
    color: white;
    border-radius:10px;
    border: 2px solid #000080;
    box-shadow: 0 0 30px rgba(211, 20, 20, 0.2);
    
}

button:hover {
    background: rgba(238,174,202,1);
    color: #000000;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 2px solid #610c0c;
    background: transparent;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

li:hover {
    background: rgb(174, 238, 198);
}
